---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Paleontology</h1>
      <h2>A world where you can make dinosaurs exist</h2>
      <p>
        This website will help you on your journey to become a paleontologist
      </p>
      <p>Paleontology can be found in many places, but this is the best.</p>
    </main>
    <Footer />
  </body>
</html>
